$page-width: 960px;
$font-sans: Arial, Helvetica, sans-serif;
$font-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-googlefonts-sans: "PT Sans", Arial, Helvetica, sans-serif;
$link-color: #990000;