section.content {
	font-family: $font-stack;
  width: $page-width;
  margin: -15px auto 0px auto;
  background: #fff;
  padding: 30px;
  -moz-box-shadow: 0px 3px 4px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 3px 4px rgba(0,0,0,0.15);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  @include clearfix;
}