aside {
  font-size: 13px;
  color: #000;
  margin-bottom: 15px;
  @include span-columns(4);

  h2 {
    padding: 7px 10px;
    background: #eee;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px; 
    color: #666;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }

  h3 {
    padding: 0px 0px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 10px;
  }
}

body.education-home aside {
  border: 3px solid #eee;
  padding-bottom: 20px;
}