body.course section.content {
  header {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 15px;
    padding-bottom: 30px;
    @include clearfix;

    h1 {
      font-weight: normal;
      margin-bottom: 15px;
      line-height: 1.25em;
    }

    section.course-summary {
      float: left;
      width: 425px;
    }

    figure {
      float: right;
      padding: 0;
      margin: 0;
      height: 175px;

      img {
        width: 400px;
        height: 175px;
      }

      figcaption {
        position: relative;
        top: -115px;
        left: 25%;
        text-align: center;
        padding: 15px;
        border-radius: 30px;
        background: #eee;
        background: rgba(255, 255, 255, 0.75);
        font-size: 16px;
        font-weight: bold;
        width: 250px;

        i {
          margin-left: 10px;
        }        
      }
    }
  }

  section.course-details {
    padding-right: 50px;
    @include span-columns(9);

    h2 {
      font-size: 20px;
      font-weight: normal;
      color: #000;
      border-left: 5px solid #990000;
      padding-left: 10px;
      padding: 5px 15px;
      background: #eee;
      margin-bottom: 15px;
      margin-top: 15px;
    }

    p {
      margin-bottom: 15px;
    }

    ul {
      list-style: square;
      margin-left: 30px;
    }
  }

  aside {
    margin-top: 15px;
    @include span-columns(3);

    h2 {
      color: #000;
      font-size: 18px;
      background: none;
      font-weight: normal;
      letter-spacing: 0px;
      padding: 0;
      margin: 0;
    }

    ul.details {
      margin-bottom: 10px;
      color: #666;
      font-size: 14px;

      i {
        margin-right: 5px;
      }

      li {
        margin-bottom: 5px;
      }
    }

    ul.competencies {
      margin-bottom: 15px;
    }

    ul.instructors > li {
      margin-bottom: 15px;

      @include clearfix;
    }

    ul.instructors > li:last-child {
      margin-bottom: 0px;

      @include clearfix;
    }

    ul.instructors {
      h3 {
        padding: 0px;
        margin-bottom: 0px;
        margin-top: -5px;
      }

      figure {
        float: left;
  
        img {
          width: 50px;
        }
      }

      ul.details {
        float: right;
        width: 145px;
        font-size: 13px;
      }
    }
  }
}
