body.education-home section.main-content {
  @include span-columns(8);
  @include omega;

  h2 {
    i {
      margin-left: 5px;
    }

    i.fa-bullhorn {
      color: #990000;
      margin-right: 5px;
      margin-left: 0px;
    }

    a {
      float: right;
      padding-left: 15px;
      border-left: 1px dotted #ccc;
      font-size: 15px;
      margin-right: 5px;
      letter-spacing: 0px;
    }

    padding: 10px;
    background: #eee;
    color: #666;
    font-weight: normal;
    margin-bottom: 30px;
    line-height: 25px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: $border-radius;
  }

  h2.deadline {
    text-align: left;
  }

  h3 {
    background: #fff;
    font-size: 18px;
    color: #666;
    font-weight: normal;
    padding: 5px 0px;
  }

  .awards {
    margin-top: -20px; 

    .awardees {
      margin-top: -15px;
      @include span-columns(8);
    }

    .apply {
      @include span-columns(4);
    }
  }

  .search {
    position: relative;
    margin-bottom: 60px;
    background: #c4d8e2;
    top: -5px;
    border-radius: $border-radius;
    padding-bottom: 15px;
    @include clearfix;

    h2 {
      background: #fff;
      background: #c4d8e2;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 0px;
      letter-spacing: 2px;
      border-radius: $border-radius;

      a:link, a:visited, a:hover, a:active {
        color: #333;
        text-align: center;
        float: none;
        margin-top: 0px;
        padding-left: 0px;
        border-left: none;
        font-size: 18px;
        margin-right: 0px;
        letter-spacing: 1px;
      }
    }

    h3 {
      background: #c4d8e2;
      text-align: center;
      color: #000;
    }

    .search-box {
      position: relative;
      height: 25px;
      margin-top: -90px;
      @include span-columns(12);
      @include clearfix;
    }

    .search-roles {
      ul {
        margin-top: 95px;
        margin-left: 20px;
      }

      a:link {
        color: #333;
      }

      a:hover {

      }

      ul li {
        padding: 5px 13px;
        font-size: 14px;
        margin-bottom: 10px;
        border-right: 1px dotted darken(#c4d8e2, 25%);
        float: left;

        i {
          color: #333;
        }

        i:first-child {
          margin-right: 5px;
        }

        i:last-child {
          margin-left: 5px;
        }
      }

      ul li:last-child {
        border-right: none;
      }
    }
  }
}

body.education-home aside {
  h3, ul, figure {
    margin-left: 10px;
  }

  h3 {
    color: #333;
  }

  // Training Opportunities
  ul.upcoming-training {
    margin-bottom: 15px;
    border-bottom: 1px dotted #ccc;
    margin-right: 10px;
    @include clearfix;

    a {
      color: #000;

      i {
        margin-left: 5px;
      }
    }

    a:hover {
      color: #267196;
    }

    li {
      margin-bottom: 20px;
      @include clearfix;
    }

    li:last-child {
      margin-bottom: 0px;
    }

    li.view-all {
      font-size: 12px;
      margin-top: -3px;
      margin-bottom: 5px;
      float: right;
      margin-right: 15px;
    }

    .event-date
    {
      border: 1px dotted #CCCCCC;
      font-weight: bold;
      width: 45px;
      text-align: center;
      float: left;
      margin-right: 15px;
    }

    .event-month
    {
      font-size: 10px;
      display: block;
      background: #EEE;
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
      padding: 5px;
      text-align: center;
    }

    .event-day
    {
      font-size: 18px;
      display: block;
      font-weight: normal;
      text-align: center;
    }

    .event-details
    {
      float: right;
      width: 190px;
      line-height: 1.4em;
    }
  }

  figure {
    position: relative;
  
    img {
      width: 80%;
    }

    figcaption {
      color: #333;
      line-height: 1.2em;
      width: 225px;
      font-size: 12px;
    }

    .watch-video {
      position: absolute;
      top: 40px;
      left: 70px;
      padding: 10px;
      background: #eee;
      opacity: 0.9;
      border-radius: 30px;

      i {
        margin-left: 5px;
      }
    }
  }
}

// Testimonial Slider
.slider {
  .testimonial {
    img {
      float: left;
      width: 100px;
    }

    blockquote {
      float: right;
      width: 275px;
      font-size: 15px;
      color: #666;
      line-height: 1.25em;

      footer {
        margin-top: 10px;
        font-style: italic;
        font-size: 12px;
        line-height: 1.25em;
      }
    }
  }  
}
