a {
  color: #267196;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#top-navigation {
  height: 40px;
}

section.content {
  font-family: "PT Sans", Arial, sans-serif;
  width: 960px;
  margin: -15px auto 0px auto;
  background: #fff;
  padding: 30px;
  -moz-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 210px;
}
section.content:after {
  content: "";
  display: table;
  clear: both;
}

/*Footer > Social*/
#site-footer {
  height: 130px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer-social {
  margin: 0 auto;
  width: 960px;
  color: #FFFFFF;
  font-size: 12px;
}

#footer-social h3 {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: normal;
}

#footer-social h4 {
  text-align: center;
  color: #FFFFFF;
}

#footer-social form#newsletter-signup {
  float: left;
}

#footer-social #newsletter-email {
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 0px 1px 5px 5px;
  margin-top: 15px;
  width: 265px;
}

#footer-social form#newsletter-signup input.email {
  background: #FFFFFF;
  font-size: 12px;
  font-family: Ubuntu, sans-serif;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 150px;
}

#footer-social form#newsletter-signup input.button {
  background: #000000;
  color: #FFFFFF;
  font-family: Dosis, sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  width: 98px;
  position: relative;
}

#footer-social form#newsletter-signup label.option {
  color: #FFFFFF;
}

#footer-social .footer-social-column {
  float: left;
  width: 479px;
  border-right: 1px dotted #CCCCCC;
  padding-right: 35px;
}

#footer-social .footer-social-column:last-child {
  border-right: none;
  padding-right: 0px;
  width: 444px;
}

#footer-social .social {
  float: left;
  padding-top: 22px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  margin-left: 10px;
}

#footer-social .social img {
  vertical-align: middle;
  top: 10px;
  margin-left: 10px;
}

#footer-social ul.footer-nav {
  margin-top: 10px;
  font-family: Arial, sans-serif;
}

#footer-social ul.footer-nav li {
  float: left;
  font-size: 16px;
  padding-right: 5px;
  margin-right: 5px;
}

#footer-social ul.footer-nav li a {
  color: #FFFFFF;
}

#footer-social .footer-social-column .footer-social-nav-column:first-child {
  width: 100px;
  padding-left: 25px;
}

#footer-social .footer-social-nav-column {
  float: left;
  width: 209px;
  margin-left: 30px;
}

#footer-social .footer-social-nav-column ul li {
  list-style: none;
}

#footer-social .footer-social-nav-column ul li a {
  color: #FFFFFF;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

#footer-social .footer-social-nav-column ul li a:hover {
  border-bottom: 1px dotted #FFFFFF;
}

aside {
  font-size: 13px;
  color: #000;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
aside:last-child {
  margin-right: 0;
}
aside h2 {
  padding: 5px 10px;
  background: #eee;
  font-size: 22px;
  letter-spacing: 2px;
  color: #666;
  font-weight: normal;
  margin-bottom: 30px;
}
aside h3 {
  padding: 0px 0px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 10px;
  border-left: 5px solid #990000;
  padding-left: 10px;
}
aside ul {
  margin-left: 15px;
  margin-bottom: 15px;
}
aside ul span.date {
  display: block;
}
aside ul li {
  margin-bottom: 15px;
}
aside figure {
  position: relative;
}
aside figure img {
  width: 100%;
}
aside figure figcaption {
  color: #666;
}
aside figure .watch-video {
  position: absolute;
  top: 35px;
  left: 70px;
  padding: 10px;
  background: #eee;
  opacity: 0.9;
  border-radius: 30px;
}
aside figure .watch-video i {
  margin-left: 5px;
}

.checkbox {
  display: block;
  position: relative;
  cursor: pointer;
}
.checkbox label {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 1.5em;
}
.checkbox label:before, .checkbox label:after {
  content: '';
  display: block;
  position: absolute;
}
.checkbox label:before {
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.checkbox input[type="checkbox"] {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.checkbox label:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: #267196;
  border: 1px solid #267196;
  opacity: 0;
  pointer-events: none;
}
.checkbox input:checked ~ label:after {
  opacity: 1;
}
.checkbox input:focus ~ label:before {
  background: #eee;
}

button {
  vertical-align: top;
  padding: 0px;
  border: 0;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  margin-left: 90px;
  padding: 5px 10px;
  width: 100%;
  margin-top: -30px;
  text-align: left;
  background: #fff;
  color: #267196;
  font-size: 13px;
  border-left: 1px dotted #ccc;
}
button:focus {
  outline: 0;
}

button i {
  margin-right: 5px;
}

section.main-content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
section.main-content:last-child {
  margin-right: 0;
}
section.main-content h2 {
  padding: 8px 10px;
  background: #eee;
  font-size: 18px;
  letter-spacing: 2px;
  color: #666;
  font-weight: normal;
  margin-bottom: 30px;
}
section.main-content h2 i {
  margin-left: 5px;
}
section.main-content h2 i.fa-bullhorn {
  color: #990000;
  margin-right: 5px;
  margin-left: 0px;
}
section.main-content h2 a {
  float: right;
  margin-top: 3px;
  padding-left: 15px;
  border-left: 1px dotted #ccc;
  font-size: 15px;
  margin-right: 5px;
  letter-spacing: 0px;
}
section.main-content h3 {
  background: #fff;
  font-size: 18px;
  color: #666;
  font-weight: normal;
  padding: 5px 0px;
}
section.main-content .awards .awardees {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
}
section.main-content .awards .awardees:last-child {
  margin-right: 0;
}
section.main-content .awards .apply {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
section.main-content .awards .apply:last-child {
  margin-right: 0;
}
section.main-content .awards .apply div {
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 5px 15px 5px;
  font-size: 14px;
  color: #999;
}
section.main-content .awards .apply div mark {
  display: block;
  background: none;
  font-size: 16px;
}
section.main-content .awards .apply div i {
  color: #267196;
  font-size: 40px;
  margin-top: 5px;
}
section.main-content .awards .apply div:hover {
  cursor: pointer;
}
section.main-content .awards .apply div:hover i {
  color: #999;
}
section.main-content .search {
  height: 200px;
  position: relative;
}
section.main-content .search .search-box {
  position: relative;
  background: url(../images/search-background.jpg);
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  height: 150px;
  padding: 15px;
}
section.main-content .search .search-box:last-child {
  margin-right: 0;
}
section.main-content .search .search-box:after {
  content: "";
  display: table;
  clear: both;
}
section.main-content .search .search-roles {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
}
section.main-content .search .search-roles:last-child {
  margin-right: 0;
}
section.main-content .search .search-roles ul {
  padding-top: 25px;
  padding-bottom: 25px;
}
section.main-content .search .search-roles ul li {
  margin-bottom: 20px;
}
section.main-content .search .search-roles ul li i {
  margin-left: 5px;
}
section.main-content .search form {
  position: absolute;
  width: 90%;
  top: 30%;
}
section.main-content .search form .search-input {
  position: relative;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.35);
  border-radius: 5px;
}
section.main-content .search form .search-input:after {
  content: "";
  display: table;
  clear: both;
}
section.main-content .search form .search-input input {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  color: #000;
  border: 5px solid #eee;
  float: left;
  outline: none;
}
section.main-content .search form .search-input button {
  width: 50px;
  border: none;
  border-left: 1px dotted #ccc;
  position: absolute;
  left: 200px;
  top: 46px;
  font-size: 15px;
  color: #000;
  padding-left: 15px;
}

body.course-search section.content aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
body.course-search section.content aside:last-child {
  margin-right: 0;
}
body.course-search section.content aside h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: none;
}

#filters h3 {
  margin-bottom: 10px;
  padding: 0px;
  font-size: 14px;
  color: #666;
  background: none;
  border-top: none;
  border-bottom: 1px dotted #ccc;
}

body.course-search section.search-results {
  font-size: 13px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
body.course-search section.search-results:last-child {
  margin-right: 0;
}
body.course-search section.search-results h1 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  background: none;
  padding-bottom: 47px;
  border-bottom: 1px dotted #ccc;
}
body.course-search section.search-results h2 {
  font-weight: normal;
}
body.course-search section.search-results h3 {
  font-weight: 400;
  color: #666;
}
body.course-search section.search-results table {
  width: 100%;
}
body.course-search section.search-results table tr td:first-child {
  padding-right: 15px;
}
body.course-search section.search-results table tr td:nth-child(2) {
  padding-right: 15px;
}
body.course-search section.search-results table tr td:nth-child(3) {
  width: 125px;
}
body.course-search section.search-results table tr ul.details {
  padding-bottom: 5px;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 5px;
  color: #666;
}
body.course-search section.search-results table tr ul.details:last-child {
  border-bottom: none;
}
body.course-search section.search-results table tr td {
  vertical-align: top;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 15px;
}
body.course-search section.search-results table ul.instructors.singleline li {
  float: left;
  padding-right: 5px;
}
body.course-search section.search-results table ul.instructors.singleline li:after {
  content: ";";
}

body.course section.content header {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
body.course section.content header:after {
  content: "";
  display: table;
  clear: both;
}
body.course section.content header h1 {
  font-weight: normal;
  margin-bottom: 15px;
  line-height: 1.25em;
}
body.course section.content header section.course-summary {
  float: left;
  width: 425px;
}
body.course section.content header figure {
  float: right;
  padding: 0;
  margin: 0;
  height: 250px;
}
body.course section.content header figure img {
  width: 450px;
  height: 250px;
}
body.course section.content header figure figcaption {
  position: relative;
  top: -150px;
  left: 25%;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  background: #eee;
  background: rgba(255, 255, 255, 0.75);
  font-size: 16px;
  font-weight: bold;
  width: 250px;
}
body.course section.content header figure figcaption i {
  margin-left: 10px;
}
body.course section.content section.course-details {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%;
}
body.course section.content section.course-details:last-child {
  margin-right: 0;
}
body.course section.content section.course-details h2 {
  font-size: 20px;
  background: none;
  font-weight: normal;
  color: #000;
}
body.course section.content section.course-details p {
  margin-bottom: 15px;
}
body.course section.content section.course-details ul {
  list-style: disc;
  margin-left: 30px;
}
body.course section.content aside {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
}
body.course section.content aside:last-child {
  margin-right: 0;
}
body.course section.content aside h2 {
  color: #000;
  font-size: 20px;
  background: none;
  font-weight: normal;
  letter-spacing: 0px;
  padding: 0;
  margin: 0;
}
body.course section.content aside ul.details {
  margin-bottom: 10px;
  color: #666;
  font-size: 14px;
}
body.course section.content aside ul.details i {
  margin-right: 5px;
}
body.course section.content aside ul.details li {
  margin-bottom: 5px;
}
