.checkbox {
  display: block;
  position: relative;
  cursor: pointer;

  label {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 1.5em;
  }
  
  label:before, label:after {
    content: '';
    display: block;
    position: absolute;
  }

  label:before {
    left: 0;
    top: 2px;
    width: 12px;
    height: 12px;
    margin-right: 10px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
  }

  input[type="checkbox"] {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
  }

  label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: #267196;
    border: 1px solid #267196;
    opacity: 0;
    pointer-events: none;
  }

  input:checked ~ label:after{
    opacity: 1;
  }

  input:focus ~ label:before{
    background: #eee;
  }
}

button {
  vertical-align: top;
  padding: 0px;
  border: 0;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  margin-left: 90px;
  padding: 5px 10px; 
  width: 100%;
  margin-top: -30px;
  text-align :left;
  background: #fff;
  color: #267196;
  font-size: 13px;
  border-left: 1px dotted #ccc;

  &:focus {
    outline: 0;
  }
}

button i {
  margin-right: 5px;
}