.gsc-control-cse {
	width: 0px;
	height: 0px;
	margin-top: 100px;
}

.gsc-control-wrapper-cse {
	margin-top: -15px;
}

form.gsc-search-box {
  position: relative;
  top: -100px;
  left: 15px;
  width: 100%;

  td.gsc-input {
		input {
	    padding: 10px 15px;
	    border: none;
	    font-family: $font-stack;
	    font-size: 18px;
	    color: #000;
	    border: 1px solid #c4d8e2;
	    border-radius: 25px;
	    outline: none;
		}
  }

  input[type="button"] {
    position: absolute;
    left: 235px;
    top: 17px;
    font-size: 1px;
    color: #fff;
    border: none;
    padding: 5px 15px;
    background: #fff;
    border-left: 1px dotted #ccc;
    font-weight: normal;
    background: url(../images/search.png) no-repeat 40% 50%;
  }

  td.gsc-clear-button {
  	display: none;
  }
}

.course-text-search {
	margin-top: -10px;
  margin-bottom: 15px;
  @include clearfix;
  padding-bottom: 50px;
	border-bottom: 1px dotted #ccc;

	.gsc-control-cse {
		width: 0px;
		height: 0px;
		margin-top: 0px;
	}

	form.gsc-search-box {
	  top: 0px;
	  margin-left: -35px;
	  width: 100%;

	  td.gsc-input {
			input {
		    padding: 10px 15px;
		    border: none;
		    font-family: $font-stack;
		    font-size: 18px;
		    color: #000;
		    border: 1px solid #c4d8e2;
		    border-radius: 25px;
		    outline: none;
		    width: 450px;
			}
		}

	  input[type="button"] {
	    left: 395px;
	  }
  }
}