.sss {
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
  min-height: 155px;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

.sssnext, .sssprev {
	width: 37px;
	height: 100%;
	margin: 0;
	position: absolute;
	background: url('../images/arrows.png') no-repeat;
}

.sssprev {
	left: 0px;
	top: 55px;
	background-position: 0 50%;
	display: none;
}

.sssnext {
	right: 0;
	top: 55px;
	background-position: -37px 50%;
	display: none;
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}